<!--display mode-->
<div class="panel" ng-click="output.edit()" ng-if="!output.isEditMode">
  <strong ng-bind="output.name"></strong>
</div>
<!--edit mode-->
<div class="panel" ng-if="output.isEditMode">
  <form name="outputForm" ng-submit="output.onSubmit(output.form)" novalidate>
    <formly-form model="output.model" fields="output.fields" form="output.form" options="output.options">
      <div class="row">
        <div class="columns small-12">
          <ul class="button-group">
            <li>
              <button type="button" ng-click="output.onDelete(output)">Delete</button>
            </li>
            <li>
              <button type="button" ng-click="output.onCancel()">Cancel</button>
            </li>
            <li>
              <button type="submit" ng-disabled="outputForm.$invalid">Save</button>
            </li>
          </ul>
        </div>
      </div>
    </formly-form>
  </form>
</div>
