<!--display mode-->
<div class="panel" ng-click="output.edit()" ng-if="!output.isEditMode">
  <strong ng-bind="output.name"></strong>
</div>
<!--edit mode-->
<div class="panel" ng-if="output.isEditMode">
  <form name="outputForm" ng-submit="output.onSubmit(output.form)" novalidate>
    <formly-form model="output.model" fields="output.fields" form="output.form" options="output.options">
      <div class="row">
        <div class="columns small-12">
          <ul class="button-group">
            <li>
              <button type="button" ng-click="output.onDelete(output)">Delete</button>
            </li>
            <li>
              <button type="button" ng-click="output.onCancel()">Cancel</button>
            </li>
            <li>
              <button type="submit" ng-disabled="outputForm.$invalid">Save</button>
            </li>
          </ul>
        </div>
      </div>
    </formly-form>


    <!--<div class="row">
      <div class="columns small-12">
        <label ng-class="{error:outputForm.outputName.$invalid}">
          <input name="outputName" type="text" ng-model="output.name"
                 ng-keypress="output.clearValidation(outputForm, outputForm.outputName)" required
                 ng-model-options="{ updateOn: 'blur' }">
        </label>
        <small ng-if="outputForm.outputName.$touched && outputForm.outputName.$invalid" class="error">
          <span ng-show="outputForm.outputName.$error.required">Output Name Required.</span>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12">
        <ul class="button-group">
          <li>
            <button type="button" ng-click="output.delete(output)">Delete</button>
          </li>
          <li>
            <button type="button" ng-click="output.cancel()">Cancel</button>
          </li>
          <li>
            <button type="submit" ng-disabled="outputForm.$invalid">Save</button>
          </li>
        </ul>
      </div>
    </div>-->
  </form>
</div>
