// bower:scss
@import "foundation/scss/foundation.scss";
// endbower

.radio-inline {
  display: inline-block;

}

.radio-inline label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

.help-block .error {
  color: $input-error-message-bg-color;
}
.block{
  display:block;
}
