<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="sampleApp">

<!--START NAV-->
<nav class="top-bar foundation-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks">
        <h1 class="show-for-large-only"><a href="#">TEST APP</a></h1>
      </span>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a href="#/outputs">Outputs</a>
      </li>
      <li>
        <a href="#/metrics">Metrics</a>
      </li>
    </ul>
  </section>
</nav>
<!--END NAV-->

<main class="row">
  <div class="small-12 columns">
    <div ng-view=""></div>
  </div>
</main>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="bower_components/foundation/js/foundation.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/api-check/dist/api-check.js"></script>
<script src="bower_components/angular-formly/dist/formly.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/outputsCtrl.js"></script>
<script src="scripts/controllers/metricsCtrl.js"></script>
<script src="scripts/directive/editPanelDirective.js"></script>
<script src="scripts/formly/formly.config.js"></script>
<!-- endbuild -->


<!--angular templates-->
<script type="text/ng-template" id="formly/label.html">
  <label ng-attr-for="{{id}}" ng-class="{error:showError}">
    {{::to.label}}
    <formly-transclude></formly-transclude>
  </label>
</script>


<script type="text/ng-template" id="formly/validation.html">
  <formly-transclude></formly-transclude>
  <div class="help-block"
       ng-if="showError"
       ng-messages="fc.$error"
       aria-live="assertive">
    <small ng-message="{{::name}}" class="error" ng-repeat="(name, message) in ::options.validation.messages"
           role="alert"
           id="{{options.key + '_error'}}">
      {{message(fc.$viewValue, fc.$modelValue, this)}}
    </small>
  </div>
</script>


<script type="text/ng-template" id="formly/input.html">
  <input class="form-control" ng-model="model[options.key]" aria-describedby="{{::options.key + '_error'}}"
         placeholder="{{options.templateOptions.placeholder}}">
</script>


<script type="text/ng-template" id="formly/radio.html">
  <div class="radio-group">
    <div ng-repeat="(key, option) in to.options" class="radio-inline">
      <label>
        <input type="radio"
               id="{{id + '_'+ $index}}"
               tabindex="0"
               ng-value="option[to.valueProp || 'value']"
               ng-model="model[options.key]">
        {{option[to.labelProp || 'name']}}
      </label>
    </div>
  </div>
</script>

<script type="text/ng-template" id="directive/editPanelDirective.html">
  <!--display mode-->
  <div class="editee statement output" ng-click="editPanel.edit()" ng-if="!editPanel.isEditMode">
    <ng-transclude></ng-transclude>
  </div>
  <!--edit mode-->
  <div class="panel" ng-if="editPanel.isEditMode">
    <form name="outputForm" ng-submit="editPanel.onSubmit(editPanel.form)" novalidate>
      <formly-form model="editPanel.itemModel" fields="editPanel.itemFields" form="editPanel.form" options="editPanel.options">
        <div class="row">
          <div class="columns small-12">
            <ul class="button-group">
              <li>
                <button type="button" ng-click="editPanel.onDelete(output)">Delete</button>
              </li>
              <li>
                <button type="button" ng-click="editPanel.onCancel()">Cancel</button>
              </li>
              <li>
                <button type="submit" ng-disabled="outputForm.$invalid">Save</button>
              </li>
            </ul>
          </div>
        </div>
      </formly-form>
    </form>
  </div>
</script>


</body>
</html>
