<h1>Metrics</h1>
<!--

<div class="panel">
  <form name="metricForm" ng-submit="metrics.onSubmit(metrics.form)" novalidate>
    <formly-form model="metrics.metricForm.model" fields="metrics.metricForm.fields" form="metrics.metricForm.form"
                 options="metrics.metricForm.options">
      <div class="row">
        <div class="columns small-12">
          <ul class="button-group">
            <li>
              <button type="button" ng-click="output.onDelete(output)">Delete</button>
            </li>
            <li>
              <button type="button" ng-click="output.onCancel()">Cancel</button>
            </li>
            <li>
              <button type="submit">Save</button>
            </li>
          </ul>
        </div>
      </div>
    </formly-form>
  </form>
</div>
-->

<ul class="small-block-grid-1">
  <!--list of outputs-->
  <li ng-repeat="output in metrics.outputList track by $index">
    <div class="block">
      <!--display panel-->
      <div class="panel" style="margin-bottom:0;" ng-bind="::output.name"></div>
      <!--Metric list-->
      <div class="row">
        <div class="columns small-12">
          <ul class="small-block-grid-1">
            <!--list of metrics in the output-->
            <li ng-repeat="metric in output.metrics track by $index" style="padding-bottom: 0;">
              <edit-panel class="row collapse"
                          fields="output.metricForm.fields"
                          model="metric"
                          item-class="panel callout"
                          remove="output.removeMetric(metric)"
                          save="metric.save(metric)">
                <strong>{{metric.type}} name:{{metric.name}}</strong>
              </edit-panel>
            </li>
          </ul>
        </div>
      </div>
      <!--insert new metric button-->
      <div class="row" ng-if="!output.isInsertMode">
        <div class="small-12 columns">
          <button type="button" class="button expand" ng-click="output.toggleInsertMode()">Add Metric</button>
        </div>
      </div>
      <!--insert new metric form-->
      <form name="newMetricForm" ng-if="output.isInsertMode" ng-submit="output.addMetric(output.metricForm.model)" novalidate>
        <formly-form model="output.metricForm.model" fields="output.metricForm.fields" form="output.metricForm.form"
                     options="output.metricForm.options">
          <div class="row">
            <div class="columns small-12">
              <ul class="button-group">
                <li>
                  <button type="submit">Save</button>
                </li>
              </ul>
            </div>
          </div>
        </formly-form>
      </form>
    </div>
  </li>
</ul>
