<h1>Outputs</h1>

<ul class="small-block-grid-1">
  <li ng-repeat="output in outputs.list track by $index">
    <output class="row collapse"
            name="output.name"
            delete="outputs.removeOutput(output)"
            update="outputs.updateOutput(output)"></output>
  </li>
</ul>
<form ng-submit="main.save()">
  <div class="row collapse">
    <div class="small-9 columns">
      <input type="text" placeholder="small-9.columns" ng-model="main.newOutput.name"/>
    </div>
    <div class="small-3 columns">
      <button type="button" class="button postfix" ng-click="outputs.addOutput(main.newOutput)">add</button>
    </div>
  </div>
</form>
