<h1>Outputs</h1>

<ul class="small-block-grid-1">
  <li ng-repeat="output in outputs.list track by $index">
    <edit-panel class="row collapse"
                fields="outputs.outputFields"
                model="output"
                name="output.name"
                delete="outputs.removeOutput(output)"
                save="outputs.updateOutput(output)"></edit-panel>
  </li>
</ul>


<form ng-submit="outputs.addOutput">
  <formly-form model="outputs.model" fields="outputs.outputFields" form="output.form" options="output.options">
    <div class="row collapse">
      <div class="small-3 columns">
        <button type="submit" class="button postfix">add</button>
      </div>
    </div>
  </formly-form>
</form>
